.add-menu-web-form{
    text-align: center;

    .ant-form-top{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn-submit{
        width: 100%;
    }

    .prefix{
        color: rgba(0,0,0,0.25);
    }
}