@import '../../../scss/index.scss';

.button-Banner{
    padding-top: 100px;
    text-align: center !important;
    height: 400px;
    width: 100%;
    background-color: $primary-color;

    @media (max-width:$media-breakpoint-down-sm){
        padding-top: 50px;
    }
    
    h1{
        color: $font-light ;
        font-size: 32px;
        font-weight: bold;
    }
    h2{
        color: $font-light ;
    }

    &__btn{
        color: $font-light;
        border-color: $font-light;
        margin-top: 20px;
        width: 30%;
        height: 50px;
        background-color: transparent;
    }

    %__btn:hover{
        background-color: transparent;
    }
}